[submodule "challenge_8"]
	path = challenge_8
	url = /home/nachu/Desktop/ilh_challenges/challenge_8/
[submodule "challenge_9"]
	path = challenge_9
	url = /home/nachu/challenge_9
[submodule "challenge_10"]
	path = challenge_10
	url = /home/nachu/challenge_10/
